body, html {
    width: 100%;
    padding: 0;
    margin: 0;
    font-family:"dfds-light";
}

@font-face {
    font-family: "dfds-bold";
    src: url(../fonts/dfds-bold.woff);
}

@font-face {
    font-family: "dfds-light";
    src: url(../fonts/dfds-light.woff);
}

.story-text-image {
    display: block;
    max-width: 50%;
    margin: 0 auto;
    max-height: 100%;
    
}

h2 {
    font-family: "dfds-bold";
    color: white;
    font-size: 1.1em;
    background-color: rgb(133, 188, 233);
    display: inline-block;
    padding: 0.24em 0.6em;
    position: relative;
    height: 1.37em;
    margin-bottom: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0em;
}


label {
    font-family: "dfds-bold";
    color: black;
    font-size: 1.1em;
    padding: 0.24em 0.6em;
    height: 1.2em;
    margin-bottom: 0;
}

input  {
    margin: 0.24em 1.06em;
    padding: 0.24em 0.5em;
    font-size: 0.85em;
    font-family: "dfds-light";
    width: 80%;
}

.content article p:first-of-type,
.content article p:last-of-type {
    color: #6D6F71;
}

.content article p:last-of-type {
    margin: 0;
    float: right;
    padding-top: 0.75em;
}

.content article h2::after {
    content: '';
    width: 0;
    height: 0;
    top: 0;
    right: -0.93em;
    border-left: 0.93em solid rgb(133, 188, 233);
    border-bottom: 1.8em solid transparent;
    position: absolute;
}

header {
    display: flex;
    padding: 0.24em 0.37em;
    border-bottom: 5px solid black; 
}

.detail p {
    font-size: 1.7em ;   
}

.detail  h2 {
    font-size: 1.8em ;   
}

.detail {
    max-width: 48em;
    min-width: 20em;
    margin: auto;
}

header input {
    margin-left: auto;
    width: 2.5em;
    height: 2.5em;
    background-color: #002B45;
    background-image: url(../image/search-icon.png);
    background-size: auto 70%;
    background-repeat: no-repeat;
    background-position: center;
    outline: none;
    padding-left: 3.85em;
    transition: width 0.7s, background-position 0.7s, background-color 0.4s, padding-left 0.7s;
    border-radius: 1000em;
    border: none;
    box-shadow: 0 0.08em 0.1em 0.04em rgba(0, 0, 0, 0.57);
    box-sizing: border-box;
}

header input.selected {
    width: 15em;
    background-position: 1.25em;
    background-color: white;
    padding-left: 1.35em;
}


.logo {
    width: 10.6em;
    height: 3.7;
}

.account {
    width: 2.31em;
    height: 2.31em;
}

.account-container {
    display: flex;
    flex: 1;
    text-align: right;
    padding-top: 0.87em;
    padding-right: 0.5em; 
}



.content article {
    width: 96%;
    margin: 0.6em 2%;
    box-sizing: border-box;
    height: auto;
    padding: 0px 1em 1.25em 1em;
    background-color: white;
    font-family: "dfds-light";
    font-size: 0.9em;
    transition: box-shadow 0.4s;
    
    /*
    box-shadow: 3px 3px #000000;
    text-shadow: 1px 1px #DCDCDC;    
    */
}

.content article.glow {
    box-shadow: 0px 3px 7px 6px #939393;   
}

.filters {
    height: 7em;
    width: 100%;
    background-color: #EEF0F1;
    padding: 0.5em 0.62em;
    box-sizing: border-box;
}

.filter-container-genre {
    display: inline-block;
}

.filter-container-sort {
    display: inline-block;
}

.filters fieldset p {
    margin-top: 0;
    margin-bottom: 0.25em;
}

select {
    padding: 0.31em 0.18em;
    font-size: 0.9em;
    font-family: "dfds-light";
}

.tablet-filters, .desktop-filters {
    display: none;
}

.content {
    justify-content: flex-start;
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    background-color: #002B45;
}

.login {
    border-top: 0.31em solid black;
    width: 100%;
    height: 40em;
    background-color: #EEF0F1;
}

.login form {
    margin: 0 auto;
    width: 100%;
}

.footer-login{
    width: 100%;
    height: 5.6em;
    background-color: #002B45;   
}


.content article button, .button-interactie {
    background-color: #F6861F;
    border: none;
    color: white;
    padding: 0.5em 0.5em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin: 0.37em 0.12em 0.25em 0.12em; 
    cursor: pointer;
    font-family: "dfds-bold";
    background-image: url(../image/2000px-Arrow_east.svg.png);
    background-size: auto 55%;
    background-position: -120%;
    background-repeat: no-repeat;
    transition: background-position 0.3s;
}

.content article button.hovering {
    background-position: 84%;
    color: transparent;
}


.filters fieldset button {
    background-color: #6D6F71;
    border: none;
    color: white;
    padding: 0.5em 0.5em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin: 0.25em 0.12em;
    cursor: pointer;
    font-family: "dfds-bold"
}

/* tablet */
@media screen and (min-width: 42em) {
    .content article {
        height: auto;
        width: 47%;
        margin-left: 1%;
        margin-right: 1%;
    }
    .mobile-filters{
        display: none;
    }
    .tablet-filters {
        display: block;
    }
    .filters {
        height: 11em;
    }
    
    .login form {
         width: 50%;   
    }
    
}

/* desktop */
@media screen and (min-width: 75em) {
    .content article {
        height: auto;
        width: 31%;
    }
    .tablet-filters {
        display: none;
    }
    .desktop-filters {
        display: block;
    }
    
    .login form {
        width: 33%;   
    }
}